@media only screen and (max-width: 799px) {
    /*style smartphones et petites tablettes en portrait*/
    :root {
        --size-carousel: 250px;
    }
}

#carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    /*style smartphones et petites tablettes en portrait*/
    #carousel {
        flex-direction: column;
    }
}

.slider {
    /* background-color: var(--color-skills); */
    height: var(--size-carousel);
    width: var(--size-carousel);
    overflow: hidden;
}

@media only screen and (max-width: 799px) {
    /*style smartphones et petites tablettes en portrait*/
    .slider {
        margin: auto;
    }
}

#slides-img {
    width: calc(var(--size-carousel) * var(--nb-element-carousel));
}

#slides-text {
    height: calc(var(--size-carousel) * var(--nb-element-carousel));
}

.slide {
    position: relative;
    height: var(--size-carousel);
    width: var(--size-carousel);
    float: left;
}

.slide img, .slide text {
    width : 100%;
    height : auto;
}

.slide-nb {
    position: absolute;
    top: 5rem;
    left: 3rem;
    opacity: 0;
}

.slide-nb p {
    font-size: calc(var(--font-ref) * 3);
    color: red;
}

.revealed {
    opacity: 0.3;
    transition-duration: 3s;
    transition-property: opacity;
}

#button-carousel {
    position: absolute;
    z-index: 3;
    margin-top: 22rem;
    margin-left: 2rem;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--color-small-projects);
    border: 4px double #cccccc;
    color: #eeeeee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    /*style smartphones et petites tablettes en portrait*/
    #button-carousel {
        margin-top: 35rem;
    }
}

#button-carousel:active {
    transform: scale(1.05);
    background-color: var(--color-softBlack);
}

#button-carousel h2 {
    margin: 0px;
    font-size: 2rem;
}