form {
    display: flex;
    flex-direction: column;
}

input {
    height: 2rem;
}

textarea {
    height: 5rem;
}

label, button {
    height: 3rem;
}

h2, h6 {
    margin-top: 1rem;
    margin-left: 0rem;
    line-height: 1rem;
    text-align: center;
}

.space {
    height: 1rem;
}

input, textarea, button {
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
}

@media only screen and (max-width: 799px) {
    /*style smartphones et petites tablettes en portrait*/
    input, textarea, button {
        width: 60%;
        margin-left: 20%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    /*style petites-moyennes tablettes */
    input, textarea, button {
        width: 50%;
        margin-left: 25%;
    }
}