.space {
    height: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 2rem;
    padding-left: 10px;
}

textarea {
    height: 4rem;
    padding: 10px;
}

label, button {
    height: 3rem;
}

h2, h6 {
    margin-top: 1rem;
    margin-left: 0rem;
    line-height: 1rem;
    text-align: center;
}

input, textarea, button {
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
}

@media only screen and (max-width: 799px) {
    /*style smartphones et petites tablettes en portrait*/
    input, textarea, button {
        width: 60%;
        margin-left: 20%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    /*style petites-moyennes tablettes */
    input, textarea, button {
        width: 50%;
        margin-left: 25%;
    }
}

#emailValue.empty, #jobValue.empty {
    border: solid red 1px;
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% {transform: translateX(10px)}
    20% {transform: translateX(-10px)}
    40% {transform: translateX(10px)}
    60% {transform: translateX(-10px)}
    80% {transform: translateX(10px)}
    100% {transform: translateX(0px)}
}