form {
    display: flex;
    flex-direction: column;
}

label {
    height: 3rem;
}

input {
    border-radius: 10px;
    height: 2rem;
    width: 20rem;
    margin-left: 30rem;
}

textarea {
    border-radius: 10px;
    height: 5rem;
    width: 20rem;
    margin-left: 30rem;
}

button {
    height: 3rem;
    width: 10rem;
    margin-left: 35rem;
}

h2, h6 {
    margin-top: 1rem;
    margin-left: 0rem;
    line-height: 1rem;
    text-align: center;
}

.space {
    height: 1rem;
}