<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="blog.css">
    </head>

    <body>

        <a href="/comment"><h5 class="h2_hover" style="text-align:center">Ajoute un commentaire</h5></a>

        % for item in feedbacks:
            % for containt in item[1]:
                <div class="comment">
                    <div class="title"><h4>&nbsp;Le {{item[0][8:]}}/{{item[0][5:7]}}/{{item[0][2:4]}} {{containt["name"]}} de {{containt["company"]}} :&nbsp;</h4></div>
                    <br><br>
                    <p>&nbsp;&nbsp;&nbsp;" {{containt["comment"]}} "</p>
                    % if containt['link'] != "":
                        <a class="footer-a" href="https://{{containt['link']}}" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{containt['link']}}</a>
                    % end
                </div>
            % end
        % end

        <a href="/"><h5 class="h2_hover" style="text-align:center">Accueil</h5></a>
    </body>

</html>