<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="contact_n_comment.css">
    </head>

    <body>
        <div class="space"></div>
        <h2>Ecrivez-moi un commentaire</h2>
        <form id="commentForm" method="post">
            <label for="name"><h6>Votre nom :</h6></label>
            <input name="name" id="nameValue" type="text" maxlength="20">
            <div class="space"></div>
            <label for="company"><h6>Votre entreprise :</h6></label>
            <input name="company" id="companyValue" type="text" maxlength="30">
            <div class="space"></div>
            <label for="comment"><h6>Votre commentaire</h6></label>
            <textarea name="comment" id="commentValue" maxlength="255" placeholder="max-255 caractères"></textarea>
            <div class="space"></div>
            <label for="link"><h6>Site Web de votre entreprise (facultatif)</h6></label>
            <input name="link" maxlength="255">
            <div class="space"></div>
            <button type="submit"><h6>Poster</h6></button>
        </form>
    </body>

    <a href="/"><h6 class="h2_hover" style="text-align:center">Accueil</h6></a>

    <script src="comment.js"></script>

</html>