<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="contact_n_comment.css">
    </head>

    <div class="space"></div>

    <h2>Contactez-moi</h2>
    <form id="contactForm" method="post">
        <label for="email"><h6>Votre Email</h6></label>
        <input name="email" id="emailValue" type="text" maxlength="255">
        <div class="space"></div>
        <label for="job"><h6>Votre demande</h6></label>
        <textarea name="job" id="jobValue" maxlength="255" placeholder="max-255 caractères"></textarea>
        <div class="space"></div>
        <label for="link"><h6>Lien de votre projet (facultatif)</h6></label>
        <input name="link" maxlength="255">
        <div class="space"></div>
        <button type="submit"><h6>Envoyer</h6></button>
    </form>

    <div class="space"></div>
    <a href="/"><h6 class="h2_hover" style="text-align:center">Accueil</h6></a>

    <script src="form.js"></script>

</html>